<div class="container">
    <div class="flex">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a class="btn btn-primary" asp-controller="home" asp-action="UserCount">User Count</a></td>
                    <td>Display the number of page views and online users</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a class="btn btn-primary" asp-controller="home" asp-action="DeathlyHallows">Deathly Hallows</a></td>
                    <td>Voting by using hub in controller</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a class="btn btn-primary" asp-controller="home" asp-action="HouseGroup">House Group</a></td>
                    <td>Joining different groups and sending group notifications</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a class="btn btn-primary" asp-controller="home" asp-action="Notification">Notification</a></td>
                    <td>Notification sending system</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><a class="btn btn-primary" asp-controller="home" asp-action="BasicChat">Basic Chat</a></td>
                    <td>Basic chat by basic authentication (just for send private message) </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <a class="btn btn-primary" asp-controller="home" asp-action="Order">Order</a>
                        <a class="btn btn-primary" asp-controller="home" asp-action="OrderList">Order List</a>
                    </td>
                    <td>Real-time order updates</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <a class="btn btn-primary" asp-controller="home" asp-action="Chat">Chat</a>
                    </td>
                    <td>chat by groups and private/public chat</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/houseGroup.js"></script>